<h2>{{title | titlecase}}</h2>
<p>Nullam quis risus eget
  <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Nullam id dolor id nibh ultricies vehicula.
</p>
<p>Nullam quis risus eget
    <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nullam id dolor id nibh ultricies vehicula.
  </p>
<p>The following is
  <strong>rendered as bold text</strong>.</p>
<p>The following is
  <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is
  <abbr title="attribute">attr</abbr>.</p>

<p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</p>