<h2>{{title | titlecase}}</h2>
<p>Nullam quis risus eget
  <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Nullam id dolor id nibh ultricies vehicula.
</p>
<p>Nullam quis risus eget
  <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Nullam id dolor id nibh ultricies vehicula.
</p>
<p>The following is
  <strong>rendered as bold text</strong>.</p>
<p>The following is
  <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is
  <abbr title="attribute">attr</abbr>.</p>

<p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="popular" class="row">
      <div *ngFor="let movie of popular.results;let i=index" class="col-md-2">

        <app-movie *ngIf="i < 6" [movie]="movie">
        </app-movie>

      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theaters</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="theaters" class="row">
      <div *ngFor="let movie of theaters.results;let i=index" class="col-md-2">

        <app-movie  *ngIf="i < 6" [movie]="movie">
        </app-movie>
        
      </div>
    </div>
  </div>
</div>