<div class="jumbotron">
  <h2>{{title | titlecase}}</h2>
  <p>Search for a movie using the form below:</p>
  <form #form="ngForm" (submit)="search(form.value)" class="form-inline my-2 my-lg-0">
    <input name="search" ngModel class="form-control mr-sm-2" type="text" placeholder="Enter movie title...">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<!-- Matched movies -->
<div *ngIf="searchResults" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Matched Movies</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="searchResults" class="row">
        <div *ngFor="let movie of searchResults.results;let i=index" class="col-md-2">
  
          <app-movie *ngIf="i < 6" [movie]="movie">
          </app-movie>
  
        </div>
      </div>
    </div>
  </div>
<!-- Popular movies -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="popular" class="row">
      <div *ngFor="let movie of popular.results;let i=index" class="col-md-2">

        <app-movie *ngIf="i < 6" [movie]="movie">
        </app-movie>

      </div>
    </div>
  </div>
</div>
<!-- In theaters movies -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theaters</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="theaters" class="row">
      <div *ngFor="let movie of theaters.results;let i=index" class="col-md-2">

        <app-movie  *ngIf="i < 6" [movie]="movie">
        </app-movie>

      </div>
    </div>
  </div>
</div>
<!-- Kids movies -->
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Kids</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="popularKids" class="row">
        <div *ngFor="let movie of popularKids.results;let i=index" class="col-md-2">
  
          <app-movie  *ngIf="i < 6" [movie]="movie">
          </app-movie>
  
        </div>
      </div>
    </div>
  </div>

  <!-- Best drama movies -->
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Best dramas</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="bestDramas" class="row">
        <div *ngFor="let movie of bestDramas.results;let i=index" class="col-md-2">
  
          <app-movie  *ngIf="i < 6" [movie]="movie">
          </app-movie>
  
        </div>
      </div>
    </div>
  </div>