<!-- {{ diagnostics }} -->
<div class="container">
  <h1>Login Form</h1>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" 
      required name="username" [(ngModel)]="model.username" #username="ngModel">
      <div class="alert alert-danger" [hidden]="username.valid || username.pristine" >
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" 
      required name="password" [(ngModel)]="model.password" #password="ngModel">
      <div class="alert alert-danger" [hidden]="password.valid || password.pristine" >
        Password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="loginForm.form.invalid">Login</button>
  </form>
  <div class="alert alert-danger" *ngIf="loginFailed">
    Log in failed! Error: <p>{{errorDescription}}</p>
  </div>
</div>
